<plugin name='twitter-bootstrap' version='1.3.0.8' grailsVersion='1.3.7 &gt; *'>
  <author>Karol Balejko</author>
  <authorEmail>kb@groovydev.org</authorEmail>
  <title>Plugin Twitter Bootstrap CSS framework resource files</title>
  <description>Provides Twitter Bootstrap CSS framework resource files.
Bootstrap is Twitter's toolkit for kickstarting CSS for websites, apps, and more. It includes base CSS styles for typography, forms, buttons, tables, grids, navigation, alerts, and more.
To get started -- checkout http://twitter.github.com/bootstrap!
</description>
  <documentation>https://github.com/groovydev/twitter-bootstrap-grails-plugin/blob/master/README.md</documentation>
  <resources>
    <resource>BootstrapResources</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>