<plugin name='twitter-bootstrap' version='0.3' grailsVersion='1.3.7 &gt; *'>
  <author>Karol Balejko</author>
  <authorEmail>kb@groovydev.org</authorEmail>
  <title>Twitter Bootstrap CSS framework resource files plugin</title>
  <description>\
Provides Twitter Bootstrap CSS framework resource files.

Bootstrap is Twitter's toolkit for kickstarting CSS for websites, apps, and more. It includes base CSS styles for typography, forms, buttons, tables, grids, navigation, alerts, and more.

To get started -- checkout http://twitter.github.com/bootstrap!

Including the resources
-----------------------

You must use the Grails resources framework to make use of this plugin. The resources exposed by this plugin are:

    bootstrap - twitter bootstrap css (version 1.2.0)
    bootstrap-less - twitter bootstrap use with less (version 1.2.0)

Usage
-----

    &lt;r:require modules="bootstrap"/&gt;

Configuration
-------------

Fix grails taglib g:paginate to work with bootstrap css. 
 
    grails.plugins.twitterbootstrap.fixtaglib = true

</description>
  <documentation>https://github.com/groovydev/twitter-bootstrap-grails-plugin/blob/master/README.md</documentation>
  <resources>
    <resource>BootstrapResources</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>